.avtorization{
    background-color:#3f6fc1;
    color:white;
    font-weight:normal;
    font-size: normal;
    font-style: normal;
    font-variant: normal;
    border-bottom: none;
    border-style: none;
    padding: 10px;  
    width: 60%;
    text-align: center;   
    transition-property: background-color;
    transition-duration: 300ms;    
    transition-timing-function: ease-in-out; 
    display: block;
    margin: auto;
}
.avtorization:hover{background-color:#34506d;   
}
#idHi{
    text-align: center;
    font-size: 18 px;
}
#photoSection{   
    
    margin-bottom: 12px;
    padding: 0 5px;
    background-color: #ffffff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    width: auto;
    height: 500px;
  
}
@media (min-height: 568px){
    #photoSection {
        height: 400px;;
    }
  }
@media (min-height: 660px){
    #photoSection {
        height: 500px;;
    }
  }
  
  @media (min-height: 760px){
    #photoSection {
        height: 660px;;
    }
  }
  
  @media (min-height: 823px){
    #photoSection {
        height: 680px;;
    }
  }
  
 #imgVK { 
    width: auto;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 100%;
    flex-shrink: 0;
  }
 #idPrevButton, #idNextButton{    
    background-color:#3f6fc1;
    color:white;
    font-weight:normal;
    font-size: normal;
    font-style: normal;
    font-variant: normal;
    padding: 8px;
    margin: 2px;  
    border-bottom: none;
    border-style: none;
    width: 40%;
    text-align: center;   
    transition-property: background-color, width;
    transition-duration: 300ms;    
    transition-timing-function: ease-in-out; 
    
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
    padding: 0 5px;
    background-color: #ffffff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
