body{
    text-align: center;       
}
.avtorization{
    background-color:#3f6fc1;
    color:white;
    font-weight:normal;
    font-size: normal;
    font-style: normal;
    font-variant: normal;
    padding: 8px;    
    border-bottom: none;
    border-style: none;
    width: 15%;
    text-align: center;   
    transition-property: background-color, width;
    transition-duration: 300ms;    
    transition-timing-function: ease-in-out; 
    display: block;
    margin: auto;
}
.avtorization:hover{
    background-color:#34506d;   
 }
 h1{
     text-align: center;
    }
#idPrevButton, #idNextButton{
    background-color:#3f6fc1;
    color:white;
    font-weight:normal;
    font-size: normal;
    font-style: normal;
    font-variant: normal;
    padding: 8px;
    margin: 2px;  
    border-bottom: none;
    border-style: none;
    width: 10%;
    text-align: center;   
    transition-property: background-color, width;
    transition-duration: 300ms;    
    transition-timing-function: ease-in-out; 
}
#imgVK{
    display: block;
    margin: auto; 
}